<?xml version="1.0" encoding="UTF-8"?>  
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>wechatBPM</display-name> 
      <welcome-file-list>
	    <welcome-file>index.jsp</welcome-file>
	  </welcome-file-list>
	  <servlet>
	  	<servlet-name>oauthServlet</servlet-name>
	  	<servlet-class>com.gzjiyi.weixin.servlet.OAuthServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	  	<servlet-name>oauthServlet</servlet-name>
	  	<url-pattern>/wechat/oauthServlet</url-pattern>
	  </servlet-mapping>
  
     <servlet>  
        <servlet-name>messageCode</servlet-name>  
        <servlet-class>com.gzjiyi.weixin.servlet.MessageServlet</servlet-class>  
    </servlet>
    <!-- url-pattern中配置的/coreServlet用于指定该Servlet的访问路径 -->  
    <servlet-mapping>  
        <servlet-name>messageCode</servlet-name>  
        <url-pattern>/messageCode</url-pattern>  
    </servlet-mapping>
    
    
    <servlet>
	    <servlet-name>runprocessServlet</servlet-name>
	    <servlet-class>com.gzjiyi.weixin.servlet.GotoNextNodeServlet</servlet-class>
	</servlet>
    <servlet-mapping>
    	<servlet-name>runprocessServlet</servlet-name>
    	<url-pattern>/wechat/runprocessServlet</url-pattern>
    </servlet-mapping>
    <servlet>
	    <servlet-name>openProcessServlet</servlet-name>
	    <servlet-class>com.gzjiyi.weixin.servlet.OpenProcessServlet</servlet-class>
	</servlet>
    <servlet-mapping>
    	<servlet-name>openProcessServlet</servlet-name>
    	<url-pattern>/wechat/openProcessServlet</url-pattern>
    </servlet-mapping>
    
    <!-- 过滤器 -->
<!-- <filter>
    	<filter-name>struts2</filter-name>
    	<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
    <filter-mapping>
    	<filter-name>struts2</filter-name>
    	<url-pattern>*.action</url-pattern>
    </filter-mapping> -->
</web-app>
